.App {
  text-align: center;
  background: linear-gradient(270deg, #465d8a, #49618fa8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  margin-top: 25pt;
  font-size: calc(15px + 2vmin);
  color: white;
}

.h3Header {
  padding: 1pt;
  margin: 0pt;
}

.todoFilter {
  padding: 5pt;
}

.todoItem {
  margin-top: 5pt;
  background-color: white;
  padding: 5pt;
  border-radius: 3pt; 
  border: 0pt;
}

ul {
  list-style-type: none;
  padding-left: 0pt;
}

.todoTextInput{
  margin-left: 5pt;
  border-radius: 3pt;
  border: 0pt;
  padding-left: 2pt;
}

.todoItemTextInput{
  background-color: rgb(231, 231, 231);
  margin-left: 5pt;
  border-radius: 3pt;
  border: 0pt;
  text-align: center;
}

.todoButton {
  margin-left: 5pt;
  border-radius: 3pt;
  background-color: #002879;
  color: white;
  border: 0pt;
}

.ToDoStatusFilter {
  margin-left: 5pt;
  border-radius: 3pt; 
  border: 0pt;
}

.todoListContainer {
  margin-top: 15pt;
}
